    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 80px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.logo{
    height: 70%;
    width: 30%;
    display: flex;
    /* border: 1px solid #000; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    
}
.logo img{
    height: 40px;
}
.nav_icns{
    width: 25%;
    height: 70%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
}
.fa-bars{
    font-size: 28px;
    /* color: lightgray; */
}

.icons{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #c536a4;
}

.bg-img{
    height: 800px;
    width: 100%;
    background-image: url(./bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
   
}
.color_div{
    position: absolute;
    height: 450px;
    width: 500px;
    background-color: #b4bd9b;
    top: 200px;
    right: 150px;
    border-radius: 8px;
}
.text_div{
   position: absolute;
    height: 290px;
    width: 500px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: black;
    top: 280px;
    right: 210px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 35px;
   
}

.text_div p{
    font-size: 22px;
    letter-spacing: 1px;
}
.a{
    margin-top: 10px;   
}
.a a{
    color: #000;
}
.text_div h2{
    font-size: 59px;
    font-weight: 500;
}
/* .postions{
    position: absolute;
    right: 100px;
} */