    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 80px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.logo{
    height: 70%;
    width: 30%;
    display: flex;
    /* border: 1px solid #000; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    
}
.logo img{
    height: 40px;
}
.nav_icns{
    width: 25%;
    height: 70%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
}
.fa-bars{
    font-size: 28px;
    /* color: lightgray; */
}

.icons{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #c536a4;
}

.bg-img{
    height: 800px;
    width: 100%;
    background-image: url(./bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
   
}
.color_div{
    position: absolute;
    height: 450px;
    width: 500px;
    background-color: #b4bd9b;
    top: 200px;
    right: 150px;
    border-radius: 8px;
}
.text_div{
   position: absolute;
    height: 290px;
    width: 500px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: black;
    top: 280px;
    right: 210px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 35px;
   
}

.text_div p{
    font-size: 22px;
    letter-spacing: 1px;
}
.a{
    margin-top: 10px;   
}
.a a{
    color: #000;
}
.text_div h2{
    font-size: 59px;
    font-weight: 500;
}


.main2{
    height: 100%;
    width: 90%;
    margin: auto;
    /* background-color: #c536a4; */
    /* border: 2px solid #000; */
    margin-top: 30px;

}
.box1{
    height: 600px;
    width: 100%;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.images_box{
    height: 500px;
    width: 40%;
    /* border: 2px solid #000; */
}
.images_box img{
    height: 100%;
    width: 90%;
    object-fit: cover;
}

.cricle-img{
    /* border: 3px solid #1070a8; */
    height: 450px;
    width: 40%;
    border-radius: 50%;
    background-color: #b4bd9b;
    background-image: url(./g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.interiordesign{
    height: 400px;
    width: 100%;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: space-around;
}
.Planninn{
    width: 40%;
    /* border: 1px solid #813535; */
    /* line-height: 55px; */
    display: flex;
    flex-direction: column;
}
.Planninn h2{
    font-size: 42px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
  
}
.Planninn .dictum{
    margin-top: 20px;
    font-size: 19px;
    line-height: 35px;
    letter-spacing: 1px;
}
.Planninn .from{
    font-size: 19px;
    margin-top: 20px;
}
.from a{
    color: #000;
}
.Planninn2{
    margin-top: 10px;
    width: 40%;
    /* border: 1px solid #813535; */

}
.Planninn2 p{
    margin-top: 15px;
    line-height:40px;
    font-size: 19px;
}
.Planninn2 button{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 8px;
    height: 55px;
    width: 200px;
    border: none;
    outline: none;
    border: 1px solid rgb(119, 119, 37);
    background-color: #ffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}
.Planninn2:hover button{
    background-color: rgb(135, 135, 42) ;
    color: #ffff;
}
.envision{
    height: 300px;
    width: 100%;
    /* background-color: #bcdc; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.envision .one{
    height: 200px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a7c3e;
    font-size: 60px;
    font-weight: 700;
    font-family: "Libre Baskerville", serif;
    color: #fff;
   
}
.practice{
    height: 200px;
    width: 55%;
    /* border: 2px solid #000; */
}
.practice p{
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    font-family: "Libre Baskerville", serif;
}

.images_hover{
    height: 450px;
    width: 100%;
    /* background-color: #3b5998; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hover_box{
    height: 380px;
    width: 30%;
    /* border: 2px solid #000; */
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/16689/images/5646.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}


.hover_box1{
    height: 380px;
    width: 30%;
    /* border: 2px solid #000; */
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/16689/images/pexels-cup-of-couple-6633450.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hover_box2{
    height: 380px;
    width: 30%;
    /* border: 2px solid #000; */
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/16689/images/56456.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Latestmain{
    height: 200px;
    width: 100%;
    /* background-color: #c536a4; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Latesttext h2{
    font-size: 50px;
    letter-spacing: 1px;
    font-family: "Libre Baskerville", serif;

}
.Latesttext p{
    margin-top: 10px;
    font-size: 19px;
    font-family: serif;
}

.main_projects{
    height: 850px;
    width: 100%;
    /* background-color: #6a7c3e; */
    /* display: flex; */
    /* justify-content: space-evenly; */
}
.projects1{
    height: 240px;
    width: 53%;
    /* border: 1px solid #000; */
    text-align: right;
    float: left;
   
}
.projects1 img{
    height: 240px;
    width: 40%;
    object-fit: cover;
    
}
.projects2{
    height: 450px;
    width: 42%;
    /* border: 1px solid #000; */
    float: right;
}
.projects2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.projects3{
    height: 450px;
    width: 43%;
    /* border: 1px solid #000; */
    /* text-align: right; */
    float: left;
    margin-left: 100px;
    margin-top: 15px;
    
}
.projects3 img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.projects4{
    height: 230px;
    width: 43%;
    /* border: 1px solid #000; */
    text-align: left;
    float: right;
    margin-top: 10px;
}
.projects4 img{
    height: 240px;
    width: 40%;
    object-fit: cover;
}

.three_box_main{
    height: 430px;
    width: 100%;
    /* background-color: #ccc; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.three_box1{
    height: 350px;
    width: 28%;
    /* border: 1px solid #000; */
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/16689/images/pexels-marina-podrez-12744083.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.three_box2{
    height: 350px;
    width: 28%;
    /* border: 1px solid #000; */
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/16689/images/medium-shot-woman-holding-vase6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
.three_box3{
    height: 350px;
    width: 28%;
    /* border: 1px solid #000; */
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/16689/images/64564.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.Contact_Us_main{
    height: 700px;
    width: 100%;
    /* background-color: #6d4040; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.blur_div{
    height: 180px;
    width: 100%;
    background-color: #6a7c3e;
    filter:contrast(50%);  
}
.contact_img{
    width: 30%;;
position: absolute;
/* right: 0; */
}
.contact_img img{
    height: 500px;
    width: 100%;
}
.contact_form{
    position: absolute;
    height: 400px;
    width: 30%;
    border: 1px solid #000;
    background-color: #fff;
    left: 220px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 65px;
}
.con_form_flex h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 45px;
letter-spacing: 1px;
}

input{
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 16px;
}

textarea{
    width: 80%;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.con_form_flex button{
    border: none;
    outline: none;
  height: 50px;
  font-size: 18px;
  width: 70%;
  /* padding: 10px; */
  background-color: #6a7c3e;
  color: #fff;
}
.z{
    text-align: center;
    font-size: 25px;
}

/* footer sections */
.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  }
  
  .footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #0099ff;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }