    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 80px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.logo{
    height: 70%;
    width: 30%;
    display: flex;
    /* border: 1px solid #000; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    
}
.logo img{
    height: 40px;
}
.nav_icns{
    width: 25%;
    height: 70%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
}
.fa-bars{
    font-size: 28px;
    /* color: lightgray; */
}

.icons{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #c536a4;
}

.bg-img{
    height: 800px;
    width: 100%;
    background-image: url(./bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
   
}
.color_div{
    position: absolute;
    height: 450px;
    width: 500px;
    background-color: #b4bd9b;
    top: 200px;
    right: 150px;
    border-radius: 8px;
}
.text_div{
   position: absolute;
    height: 290px;
    width: 500px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: black;
    top: 280px;
    right: 210px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 35px;
   
}

.text_div p{
    font-size: 22px;
    letter-spacing: 1px;
}
.a{
    margin-top: 10px;   
}
.a a{
    color: #000;
}
.text_div h2{
    font-size: 59px;
    font-weight: 500;
}


.main2{
    height: 100%;
    width: 90%;
    margin: auto;
    /* background-color: #c536a4; */
    border: 2px solid #000;
    margin-top: 30px;

}
.box1{
    height: 700px;
    width: 100%;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: space-evenly;

}
.images_box{
    height: 650px;
    width: 50%;
    /* border: 2px solid #000; */
}
.images_box img{
    height: 100%;
    width: 90%;
    object-fit: cover;
}
.images_box2{
    position: relative;
    height: 550px;
    width: 40%;
    /* border: 2px solid #000; */
    background-image: url(./153-1532288_pattern-dots-2.png);
}
.cricle-img{
    border: 1px solid #ccc;
    position: absolute;
    height: 450px;
    width: 80%;
    border-radius: 50%;
    background-color: #b4bd9b;
    bottom: 22px;
    right: 160px;
    background-image: url(./g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.interiordesign{
    height: 400px;
    width: 100%;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: space-around;
}
.Planninn{
    width: 40%;
    /* border: 1px solid #813535; */
    /* line-height: 55px; */
    display: flex;
    flex-direction: column;
}
.Planninn h2{
    font-size: 55px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
  
}
.Planninn .dictum{
    margin-top: 20px;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 1px;
}
.Planninn .from{
    font-size: 22px;
    margin-top: 20px;
}
.from a{
    color: #000;
}
.Planninn2{
    margin-top: 10px;
    width: 40%;
    /* border: 1px solid #813535; */

}
.Planninn2 p{
    margin-top: 15px;
    line-height:40px;
    font-size: 22px;
}
.Planninn2 button{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 8px;
    height: 55px;
    width: 200px;
    border: none;
    outline: none;
    border: 1px solid rgb(119, 119, 37);
    background-color: #ffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}
.Planninn2:hover button{
    background-color: rgb(135, 135, 42) ;
    color: #ffff;
}